*{
    padding: 0;
    margin: 0;
}

.index-contact-info{
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 20px;
    flex-wrap: wrap;
    font-size: 20px;
}

.phone{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    gap: 22px;
    flex-wrap: wrap;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.body-title{
    position: absolute;
    top: 8px;
    bottom: 16px;
    padding-bottom: 48px;
    font-size: 48px;
}

.body-text{
    position: absolute;
    margin-top: 60px;
    top: 100px;
    bottom: 16px;
    font-weight: bold;
    
}





