*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index-header-container{
    display: flex;
    background-color: black;
    height: 128px;
    gap: 22px;
    align-items: center;
    padding-left: 200px;
    padding-right: 32px;
}


.beef-link:hover{
    transform: scale(1.1);
}
.beef-link{
    text-decoration: none;
    color: white;
}


.lamb-link:hover{
    transform: scale(1.1);
}
.lamb-link{
    text-decoration: none;
    color: white;
}

.other-products-link:hover{
    transform: scale(1.1);
}
.other-products-link{
    text-decoration: none;
    color: white;
}

.placeholder{
    text-decoration: none;
    color: white;
}

.phone{
    color: white;
    font-weight: bold;
}

.email{
    color: white;
    font-weight: bold;
}

.index-body-container{
    height: 600px;
    background-color: dimgray;
}